<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-danube-index") %>>
        <a href="/docs/providers/danube/index.html">danube Provider</a>
        </li>

        <li<%= sidebar_current("docs-danube-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-danube-datasource") %>>
              <a href="/docs/providers/danube/d/danube_machine.html">danube_machine </a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-danube-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-danube-resource") %>>
            <a href="/docs/providers/danube/r/danube_machine.html">danube_machine</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
